body{
    background-color: black;
}

#main{
  margin: auto;  
  width: 50%;
  overflow: visible;
  height: 50vh;
 
  
}
img{
    width: 100%;
    
}

.button-main{
    border: 2px solid red;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}
button{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: grey;
    color: black;
}